@charset "utf-8";

/***** header *****/
body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 2;
}

.wrap img {
  width: 45vw;
  margin-top: 20px;
  margin-left: 5vw;
}

#icon {
  display: none;
}

#icon + label {
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  bottom: 5vw;
}

#icon + label > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 30px;
  background: #000;
  transition: all 0.35s;
  z-index: 2;
  left: 85vw;
}

#icon + label > span:nth-child(1) {
  top: 0;
}

#icon + label > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#icon + label > span:nth-child(3) {
  bottom: 0;
}

#icon:checked + label > span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

#icon:checked + label > span:nth-child(2) {
  opacity: 0;
}

#icon:checked + label > span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

#icon + label + #wrap {
  position: fixed;
  top: 0;
  right: -300%;
  width: 100vw;
  height: 100%;
  background: #f5f5f5;
  color: #000000;
  z-index: 1;
  transition: right 0.3s ease; /* 애니메이션 효과를 주기 위한 transition 속성 */
}

#icon:checked + label + #wrap {
  right: 0px;
}

.head #wrap p {
  font-size: 6vw;
  padding-top: 50px;
  padding-left: 5vw;
  font-family: var(--font-PyeongChang);
  line-height: 1.5;
}

.head #wrap p strong {
  font-weight: bold;
}

.head #wrap .login {
  display: inline-block;
  color: #888;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 30rem;
  font-size: 3vw;
  padding: 3vw;
  margin-top: 3vw;
  margin-left: 5vw;
  font-family: var(--font-Pretendard);
}

.head #wrap .big_menu {
  margin-top: 40px;
  background-color: #fff;
  padding: 0;
  border-top: 2px solid #000;
  height: 100%;
}

.head #wrap .big_menu li {
  padding: 7vw;
  border-bottom: 1px solid #efefef;
  height: 6vw;
}

.head #wrap .big_menu li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 4.2vw;
  padding-left: 2vw;
  font-family: var(--font-Pretendard);
}

.big_menu .story_menu_down .arrow {
  width: 3%;
  transform: translate(0, -50%) rotate(90deg);
  position: relative;
  left: 50vw;
  bottom: 1vw;
  transition: none;
  opacity: 1;
}

.head #wrap .sub_menu {
  transition: none;
  opacity: 0;
  background-color: #fff;
  height: 100%;
}

.head #wrap .sub_menu li {
  padding: 4vw;
  margin-left: 2vw;
  border: none;
  font-family: var(--font-Pretendard);
}

.head #wrap .sub_menu li a {
  font-size: 3.5vw;
  color: #888;
}

/* content */
.main_content {
  background: url(../assets/images/festival-visual-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.main_content .main_txt {
  color: #fff;
  margin: 70px 50px;
  font-family: var(--font-PyeongChang);
}
.main_content .main_txt p:nth-child(1) {
  margin-bottom: 10px;
  text-indent: -5px;
}
.main_content .main_txt h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.main_content .main_txt .fes {
  border: 3px solid #000;
  border-radius: 50px;
  padding: 15px;
  width: 300px;
  margin-top: 30px;
  background-color: #111;
}
.main_content .main_txt span {
  color: #aaaa;
  padding: 20px;
}
.main_content .main_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main_content .main_img img:first-child {
  width: 80px;
  position: absolute;
  top: 54%;
  right: 55%;
  animation-name: updown;
  animation-duration: 1.5s;
}
.main_content .main_img img:nth-child(2) {
  width: 40px;
  position: absolute;
  right: 32%;
  top: 58%;
  animation-name: updown2;
}
.main_content .main_img img:nth-child(3) {
  width: 160px;
  position: absolute;
  right: 0;
  top: 42%;
  animation-name: updown3;
}
.main_content .main_img img:nth-child(4) {
  width: 75px;
  position: absolute;
  right: 39%;
  top: 64%;
  z-index: 1;
  animation-name: updown2;
  animation-duration: 2s;
}
.main_content .main_img img:nth-child(5) {
  width: 5px;
  position: absolute;
  right: 67%;
  top: 64%;
  animation-name: updown2;
}
.main_content .main_img img:nth-child(6) {
  width: 5px;
  position: absolute;
  right: 27%;
  top: 65%;
  animation-name: updown2;
  animation-duration: 2.5s;
}
.main_content .main_img img:nth-child(7) {
  width: 10px;
  position: absolute;
  right: 43%;
  top: 60%;
  animation-name: updown2;
  animation-duration: 2.2s;
}
.main_content .main_img img:nth-child(8) {
  width: 15px;
  position: absolute;
  right: 15%;
  top: 68%;
  z-index: 1;
  animation-name: updown2;
  animation-duration: 1.3s;
}
.main_content .main_img img:nth-child(9) {
  width: 50px;
  position: absolute;
  right: 71%;
  top: 61%;
  animation: pop 2s ease-in-out infinite alternate;
}
.main_content .main_img img:nth-child(10) {
  width: 15px;
  position: absolute;
  top: 35%;
  right: 5%;
  animation: pop 2s ease-in-out infinite alternate;
}
.main_content .main_img img:last-child {
  width: 400px;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 10%;
}

/* welcome */
.welcome {
  padding: 100px 0;
  position: relative;
}
.welcome .welcome_txt {
  display: block;
  text-align: center;
  line-height: 1.2;
  font-family: var(--font-Pretendard);
  padding: 30px;
}
.welcome .welcome_txt h2 {
  font-family: var(--font-PyeongChang);
  font-size: 2.375rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.welcome .welcome_txt strong {
  color: var(--color-violet);
}
.welcome .welcome_txt .sin {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.welcome .welcome_txt p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #444;
}
.welcome .welcome_txt h2.active {
  display: none;
}

.welcome .welcome_txt p span {
  color: var(--main-green);
  font-weight: 700;
}
.welcome .welcome_txt img:nth-child(4) {
  position: absolute;
  width: 50px;
  top: 13%;
  left: 5%;
  animation: heart 1.5s linear infinite alternate;
}
.welcome .welcome_txt img:nth-child(5) {
  position: absolute;
  width: 70px;
  top: 36%;
  right: 3%;
  animation: heart 1.5s linear infinite alternate;
}
.welcome .welcome_txt img:nth-child(6) {
  position: absolute;
  width: 60px;
  left: 0;
  animation: heart 1.5s linear infinite alternate;
}

/* hero */
.hero {
  background-color: #dceaf7;
  height: 210vh;
  padding: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.hero_title {
  color: #99aab9;
  font-size: 6vw;
  font-weight: 600;
  line-height: 1.4;
  font-family: var(--font-PyeongChang);
}

.hero_title h2 strong {
  color: var(--color-violet);
}
.hero .hero_wrap .hero_txt {
  font-family: var(--font-Pretendard);
  margin-top: 40px;
  order: 3;
  width: 90%;
  padding-left: 20px;
}
.hero .hero_wrap .hero_txt p {
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  font-weight: 600;
  font-family: var(--font-PyeongChang);
  font-size: 1.1rem;
  line-height: 1.3;
  text-align: left;
  margin-right: 20px;
}
/* .hero_txt > p::before {
  content: '';
  width: 5px;
  height: 25px;
  border: 1px solid red;
  transform: translate(-50%, -50%) rotate(-45deg);
  box-sizing: border-box;
  border-width: 0 0 4px 4px;
  position: absolute;
} */
.hero .hero_wrap {
  display: grid;
}
.hero .hero_wrap .hero_txt .hero_program {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.hero .hero_wrap .hero_txt .hero_program .hero_item:not(:last-child) {
  border-bottom: 1px solid #efefef;
}
.hero_wrap .hero_txt .hero_program .hero_item a {
  padding: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item {
  padding: 20px 20px 0;
}

.hero .hero_wrap .hero_txt .hero_program .hero_item a img {
  width: 50px;
  margin-bottom: 20px;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item a dl {
  text-align: left;
  line-height: 1.6;
  margin-bottom: 10px;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item a dl dt {
  font-weight: 600;
  font-family: var(--font-PyeongChang);
  font-size: 1.4rem;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item a dl dd {
  font-weight: 300;
  color: #444;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item a .btn_circle {
  background-image: url(../assets/common_images/ic-arrow-w.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: #cccccc;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  top: 15%;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item a .btn_circle1 {
  background-image: url(../assets/common_images/ic-arrow-w.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: #cccccc;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  top: 37%;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item a .btn_circle2 {
  background-image: url(../assets/common_images/ic-arrow-w.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: #cccccc;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  top: 59%;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item a .btn_circle3 {
  background-image: url(../assets/common_images/ic-arrow-w.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: #cccccc;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  top: 83%;
}
.hero .hero_wrap .hero_txt .hero_program .hero_item a .bg:hover {
  background-color: var(--main-green);
  transition: 0.7s;
}

.hero .hero_wrap .hero_txt.hero_program .hero_item a p {
  background-color: var(--main-green);
}
.hero .hero_wrap .map_all {
  overflow: hidden;
  position: relative;
  order: 2;
  width: 100%;
}
.hero .hero_wrap .map_all .map_img {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.hero .hero_wrap .map_all .map_img img {
  width: 100%;
}
.hero .hero_wrap .map_all .map_info {
  position: absolute;
  top: 25%;
  right: 39%;
}
.hero .hero_wrap .map_all .map_info img {
  width: 20px;
  margin-bottom: 20px;
  animation-name: updown2;
  animation-duration: 1s;
}
.hero .hero_wrap .map_all .map_info p {
  font-size: 0.8rem;
  color: #fff;
  font-weight: bold;
}
/* event */
.event {
  padding: 140px 0;
  text-align: center;
  font-family: var(--font-PyeongChang);
}
.event_all {
  position: relative;
}
.event_all h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
}
.event_all h2 strong {
  color: var(--color-violet);
  font-weight: bold;
}
/* .event_all h2::before {
  position: absolute;
  right: 12%;
  top: -10%;
  width: 40px;
  height: 20px;
  padding: 11px;
  content: '';
  background: url(../images/ic-festival-star.png) no-repeat center / contain;
} */
.event img {
  position: absolute;
  top: -10%;
  left: 70%;
  object-fit: cover;
  animation: moveRightUp 1.5s ease-in-out infinite;
}

.event .event_all p {
  margin-top: 20px;
  position: relative;
}
.event .event_all p span {
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  background-color: var(--color-violet);
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
}
.event .event_all p span::before {
  position: absolute;
  left: 50%;
  top: 20%;
  content: "";
  width: 30px;
  height: 10px;
  margin-top: -10px;
  background-color: var(--color-violet);
  transform: translate(-50%, 0) rotate(45deg);
}
.event .event_all p span img {
  position: absolute;
  left: -30%;
  top: 10%;
  width: 100px;
  animation-name: wave;
  animation-duration: 1.5s;
}

.event .event_all .event_cloud {
  display: flex;
  justify-content: center;
  position: relative;
  animation: moveUpDown 2s infinite;
}
.event .event_all .event_cloud a .event_btn li {
  display: inline-block;
  width: 100px; /* 원하는 너비 조절 */
  height: 60px; /* 원하는 높이 조절 */
  border-radius: 100px; /* 원 모양의 구름을 만들기 위해 반지름 설정 */
  position: relative;
  bottom: -50px;
  right: -20px;
  margin: -36px;
  padding: 10px;
}

.event .event_all .event_cloud a .event_btn li::before,
.event .event_all .event_cloud a .event_btn li::after {
  content: "";
  width: 40px; /* 구름의 일부분 너비 조절 */
  height: 40px; /* 구름의 일부분 높이 조절 */
  background-color: #20ca6e; /* 구름의 색상을 조절 */
  position: absolute;
  border-radius: 100px;
}

.event .event_all .event_cloud a .event_btn li::before {
  /* 위쪽 구름 부분 위치 조절 */
  left: 40px; /* 위쪽 구름 부분 위치 조절 */
}

.event_btn li::after {
  /* 위쪽 구름 부분 위치 조절 */
  left: 75px; /* 위쪽 구름 부분 위치 조절 */
}

.event_cloud p {
  position: relative;
  bottom: -40px;
  right: 70px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.event_cloud:hover li::after,
.event_cloud:hover li::before {
  background-color: #1da05a;
  transition: 0.3s ease;
}
/* login */
.login {
  background-color: #110c2a;
  color: #fff;
  text-align: center;
  padding: 80px 40px;
  font-family: var(--font-PyeongChang);
  display: block;
}
.login span {
  display: inline-flex;
  background-color: #ee3a36;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-indent: 17px;
  line-height: 70px;
  font-family: var(--font-PyeongChang);
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 25px;
}
.login span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 16px solid #ee3a36;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: translateX(-50%);
}

.login_jam {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #ee3a36;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  margin-bottom: 30px;
  font-family: var(--font-PyeongChang);
  font-weight: 600;
  font-size: 1.2rem;
  animation: moveUpDown 2s infinite;
}

.login_jam::before {
  content: "";
  position: absolute;
  top: 115%;
  right: 40%;
  margin-top: -15px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ee3a36 transparent transparent;
  transform: rotate(275deg);
}

.login_txt h3 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 20px;
}
.login_txt br {
  display: none;
}
.login_txt p {
  font-family: var(--font-Pretendard);
  font-size: 1rem;
  line-height: 1.3;
}
.login_txt p:nth-child(2) {
  font-weight: 300;
  margin-bottom: 20px;
}
.login_txt p:nth-child(3) {
  font-weight: 600;
  margin-bottom: 40px;
}

.login_wrap {
  font-weight: 600;
}
.login_poster img {
  width: 100%;
  vertical-align: top;
}
.login_poster em {
  display: inline-block;
  font-size: 1rem;
  margin: 20px 10px 10px;
  color: #aaaaaa;
}
.login_poster p {
  margin-bottom: 40px;
}
.and_txt {
  padding: 60px 0;
}
.and_txt em {
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
}
.and_txt h2 {
  font-weight: 600;
  font-size: 1.8rem;
}
.poster_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster_bg {
  position: absolute;
  font-size: 1.5rem;
}
.poster_bg p {
  line-height: 1.4;
  text-transform: uppercase;
}

/* .poster_img img:nth-child(1) {
  width: 10%;
  margin-right: 40px;
}
.poster_img img:nth-child(2) {
  width: 60%;
  border: 0;
}
.poster_img img:nth-child(3) {
  width: 10%;
  margin-left: 40px;
} */

.left,
.right {
  width: 70px;
}

.left {
  padding-right: 25px;
}

.right {
  padding-left: 25px;
}

.poster11 {
  width: 250px;
}

.poster_bg {
  top: 11050px;
  left: 30px;
}

.poster_bg p {
  top: 10px;
  font-size: 2.4rem;
}

/* happy */
.happy {
  padding: 100px 20px;
  font-family: var(--font-PyeongChang);
  text-align: center;
}

.happy_txt h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  box-sizing: border-box;
  display: block;
}
.happy_txt p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 30px;
}
.company_list img {
  width: 100%;
}
.company_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/***** footer *****/
.btn_top {
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 143rem;
  right: 1.5rem;
  z-index: 999;
}

.btn_top img {
  width: 2rem;
  transform: rotate(-90deg);
  opacity: 0.3;
  border-radius: 100%;
  border: 3px solid #ccc;
}

.foot {
  background-color: #111;
  padding-top: 35px;
}

.foot span,
.foot h2 {
  color: #fff;
}

.foot span {
  font-size: 16px;
}

.foot h2 {
  font-size: 22px;
  padding: 10px;
}

.foot_cloud {
  display: flex;
  left: 50px;
  flex-direction: column;
}

.foot_green li {
  display: inline-block;
  height: 50px;
  /* 원하는 높이 조절 */
  border-radius: 100px;
  /* 원 모양의 구름을 만들기 위해 반지름 설정 */
  position: relative;
  margin: -10px;
}

.foot_green li::before,
.foot_green li::after {
  content: "";
  width: 25px;
  /* 구름의 일부분 너비 조절 */
  height: 25px;
  /* 구름의 일부분 높이 조절 */
  background-color: #20ca6e;
  /* 구름의 색상을 조절 */
  position: absolute;
  border-radius: 100px;
}

.foot_green li::before {
  /* 위쪽 구름 부분 위치 조절 */
  left: 45px;
  /* 위쪽 구름 부분 위치 조절 */
  top: 20px;
}

.foot_green li::after {
  /* 위쪽 구름 부분 위치 조절 */
  left: 60px;
  /* 위쪽 구름 부분 위치 조절 */
  top: 20px;
}

.green p {
  position: relative;
  bottom: 16px;
  padding-left: 17px;
  color: #ffffff;
  font-weight: bold;
  font-weight: bold;
  font-size: 10px;
}

.foot_info_address {
  margin: 1rem 0;
  color: #fff;
  opacity: 0.5;
  display: block;
  font-size: 12px;
  margin-bottom: 60px;
}

.foot_info_address p {
  padding-top: 10px;
  padding-left: 10px;
}

.footer_copy {
  padding-top: 20px;
  font-size: 12px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_copy a {
  font-size: 13px;
  padding-left: 10px;
}

.footer_copy p {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  opacity: 0.5;
}

/***** footer *****/
.btn_top {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 23rem;
  right: 1.5rem;
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.btn_top.show {
  opacity: 1;
  visibility: visible;
}

.btn_top img {
  padding: 10px;
  width: 2rem;
  transform: rotate(-90deg);
  opacity: 0.3;
  border-radius: 100%;
  border: 3px solid #ccc;
}

.foot {
  background-color: #111;
  padding-top: 35px;
}

.foot span,
.foot h2 {
  color: #fff;
}

.foot span {
  font-size: 16px;
}

.foot h2 {
  font-size: 22px;
  padding: 10px;
}

.foot_cloud {
  display: flex;
  left: 50px;
  flex-direction: column;
}

.foot_green li {
  display: inline-block;
  height: 50px;
  /* 원하는 높이 조절 */
  border-radius: 100px;
  /* 원 모양의 구름을 만들기 위해 반지름 설정 */
  position: relative;
  margin: -10px;
}

.foot_green li::before,
.foot_green li::after {
  content: "";
  width: 25px;
  /* 구름의 일부분 너비 조절 */
  height: 25px;
  /* 구름의 일부분 높이 조절 */
  background-color: #20ca6e;
  /* 구름의 색상을 조절 */
  position: absolute;
  border-radius: 100px;
}

.foot_green li::before {
  /* 위쪽 구름 부분 위치 조절 */
  left: 45px;
  /* 위쪽 구름 부분 위치 조절 */
  top: 20px;
}

.foot_green li::after {
  /* 위쪽 구름 부분 위치 조절 */
  left: 60px;
  /* 위쪽 구름 부분 위치 조절 */
  top: 20px;
}

.green p {
  position: relative;
  bottom: 16px;
  padding-left: 17px;
  color: #ffffff;
  font-weight: bold;
  font-weight: bold;
  font-size: 10px;
}

.foot_info_address {
  margin: 1rem 0;
  color: #fff;
  opacity: 0.5;
  display: block;
  font-size: 12px;
  margin-bottom: 60px;
}

.foot_info_address p {
  padding-top: 10px;
  padding-left: 10px;
}

.footer_copy {
  padding-top: 20px;
  font-size: 12px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_copy a {
  font-size: 13px;
  padding-left: 10px;
}

.footer_copy p {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  opacity: 0.5;
}
